/dataset
/dataset_tf
/exported_data

/backend/utils
/backend/venv
/backend/pruebas
/backend/runs
/backend/models

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.ipynb_checkpoints/

*.log

.DS_Store
Thumbs.db

.vscode/